matplotlib==3.3.4
numpy==1.19.5
pandas==1.4.1
polyglot==16.7.4
regex==2020.11.13
scikit_learn==1.0.2
scipy==1.6.0
seaborn==0.11.2
sentiment_analysis_spanish==0.0.25
streamlit==1.8.0
vaderSentiment==3.3.2
click<=8.0.4
